body{
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto','Arial',sans-serif;
  letter-spacing: 0.5px;
}

*:focus{
outline: 2px dotted #ff7500;
outline-offset: 3px;
}

.site-header {
  display: flex;
  justify-content:space-between ;
  align-items: center;
background-color: white;
}

.logo-link{
transition: opacity 0.4s ease
}

.logo-link:hover{
opacity: 0.8em;
}

.logo-link:active{
opacity: 0.6;
}

.site-header-actions{
display: flex;
align-items: center;
}

.sitenav-list{
list-style: none;
display: flex;
}

.sitenav-link{
font-weight: 500;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: black;
transition: color 0.4 ease;
}

.sitenav-link:hover{
color: #ff7500;
}

.sitenav-link:active{
opacity: 0.6;
}

.main-link{
font-size: 13px;
line-height: 15px;
background-color: #ff7500;
color: #fff;
text-decoration: none;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #252420;
color: #fff
}

.hero-content{
width: 390px;
}

.hero-img{
width: 510px;
height: 510px;
}

.hero-hr{
width: 80px;
height: 3px;
background-color: #ff7500;
}

.hero-heading{
font-size: 40px;
line-height: 1.2;
font-family: "Roboto Condensed","Arial",sans-serif;
}

.features-list{
display: flex;
list-style: none;
justify-content: space-between;
}

.features-heading{
width: 440px;
font-size: 72px;
line-height: 1.2;
letter-spacing: 0.5;
font-family: "Roboto Condensed","Arial",sans-serif;
}

.feature{
  width: 340px;
  }

.feature-icon{
width: 100px;
height: 100px;
background-color: rgba(255,177,0,0.2);
}

.feature-title{
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.5px;
font-family: "Roboto Condensed","Arial",sans-serif;
}

.promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: #252420;
color: #fff;
}

.promo-content{
width: 440px;
}

.promo-heading{
font-size: 40px;
line-height: 48px;
}

.promo-light{
color: #ff7500;
}

.promo-img{
width: 440px;
height: 440px;
object-fit: cover;
}

.site-footer{
background-color: #f8f8f8;
}

.site-footer-top{
display: flex;
justify-content: space-between;
align-items: center;
}

.site-footer ul{
list-style: none;
}

.socials{
display: flex;
align-items: center;
}

.socials a{
  color: #252420;
}

.socials a:hover{
  color: #ff7500;
}

.socials a:active{
  opacity: 0.6;
}

.site-hr{
background-color: rgba(37, 36, 32, 0.5);
height: 2px;
}

.site-bottom{
display: flex;
}

.site-footer-link-list{
width: 224px;
line-height: 19px;
}

.site-footer-link-list a{
text-decoration: none;
color: #252420;
}

.site-footer-link-list a:hover{
color: #ff7500;
}

.site-footer-link-list a:active{
opacity: 0.6;
}